.workspace-leaf-content[data-type=terminal\:terminal] {
	overflow: hidden !important;
}

.workspace-leaf-content[data-type=terminal\:terminal] .view-content {
	overflow: hidden !important;
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;
	box-sizing: border-box;
}

.terminal\:terminal {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden !important;
	box-sizing: border-box;
}

.terminal\:terminal .xterm {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden !important;
}

.terminal\:terminal .xterm-viewport {
	overflow-y: auto !important;
	overflow-x: hidden !important;
	height: 100% !important;
}

.terminal\:terminal .xterm-screen {
	position: relative;
	height: auto;
}

.is-phone .workspace-leaf-content[data-type=terminal\:terminal] .view-content {
	padding-bottom: max(var(--size-4-4), calc(var(--icon-l) + var(--size-4-2) + max(var(--size-4-2), var(--safe-area-inset-bottom))));
}